.home{
  background-color: black;
}

.banner{
  background-color: lightcoral;
}

.dropdowns{
  background-color: lightblue;
}

.mounts{
  background-color: wheat;
  opacity: 0.8;
}

.source{
  text-align: center;
  font-family: 'Are You Serious', cursive;
}

.test{
  width: 1.5rem;
}