.home{
  background-color: black;
}

.banner{
  background-color: lightcoral;
}

.mounts{
  background-color: wheat;
  opacity: 0.8;
}

.test{
  width: 1.5rem;
}

.useablecheck{
  background-color: lightgrey;
}